body {
    background-color: #D2D7DF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    color: #353535;
    line-height: 1.5;
}

p {
    color: #8A897C;
}

ul {
    padding: 0;
    list-style-position: inside;
    text-align: justify;
}

hr {
    color: #353535;
}

.header-main {
    align-content: center;
    align-items: center;
    background:#fff;
    margin-top: 1rem;
    padding: 1rem;
}

.welcome {
    font-style: italic;
    color: #8A897C;
}

.text-alignment {
    text-align: start;
}

.content-extras {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    align-items: flex-start;
}

#profile {
    width: 300px;
}

.paragraphs {
    padding: 5px;
    text-align: justify;
}

@media (max-width: 575.98px) {

    #profile {
        width: 200px;
    }

    .text-alignment {
        text-align: center;
    }
}