body {
    background-color: #D2D7DF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    color: #353535;
    line-height: 1.5;
}

p {
    color: #8A897C;
}

ul {
    padding: 0;
    list-style-position: inside;
    text-align: justify;
}

hr {
    color: #353535;
}

.header-main {
    align-content: center;
    align-items: center;
    background:#fff;
    /* border-radius: .8rem; */
    margin-top: 1rem;
    padding: 1rem;
}

.welcome {
    font-style: italic;
    color: #8A897C;
}

.container-s{
	width:90%;
	margin:20px auto;
	background:#fff;
	padding:20px;
	border-radius:8px;
}

.info-details {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}

.content-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: #353535 1px inset;
}

.content-extras {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    align-items: flex-start;
}

.heading-cover-letter {
    text-align: start;
}

#profile {
    width: 300px;
}

.paragraphs {
    padding: 5px;
    text-align: justify;
}

@media (max-width: 575.98px) {
    .heading-cover-letter {
        text-align: center;
    }

    #profile {
        width: 200px;
    }
}

/* @media screen and (max-width: 800px) {
    .info-details {
        flex-direction: column;

        h3 {
            margin: 0;
        }
    }

    .content-block {
        align-items: center;
    }

    .content-extras, .header-cover-letter {
        flex-direction: column;
        align-items: center;
    }
} */